.hero {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 3em;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.features {
  background: blueviolet;
  padding: 100px 0px 0px;
}
.container {
  // max-width: 1200px;
  margin: 0 10;
  padding: 0 30px;
  opacity: 1;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature img {
  max-width: 100px;
  margin-bottom: 20px;
  background-color: transparent;
}

.btn-primary {
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
}

.btn-primary:hover {
  background: #0056b3;
}

.footer {
  background: #333;
  color: #fff;
  padding: 50px 0px 0px;
}

.container {
  // max-width: 1200px;
  margin: 0 10;
  padding: 0 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 1em;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 8px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #777;
}

button.alugar-btn {
  background-color: #f4f4f4;
  max-width: 150px;
  max-height: 75px;
  color: #333;
  padding: 10px 20px 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px
}

button.alugar-btn:hover {
  background-color: #333;
  color: #fff;
}