<section class="hero">
  <div class="container" >
    <h1>Descubra o Prazer de Dirigir.</h1>
    <p>Encontre o carro perfeito para a sua jornada na estrada.</p>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="feature">
      <img src="assets/icons/pesquisa.png" alt="Pesquisa">
      <h2>Pesquisa Fácil</h2>
      <p>Encontre o carro ideal com nossa pesquisa intuitiva.</p>
    </div>
    <div class="feature">
      <img src="assets/icons/data.png" alt="Calendário">
      <h2>Reservas Simples</h2>
      <p>Faça reservas de forma rápida e simples.</p>
    </div>
    <div class="feature">
      <img src="assets/icons/dinheiro.png" alt="Dinheiro">
      <h2>Preços Competitivos</h2>
      <p>Oferecemos preços competitivos para atender às suas necessidades.</p>
    </div>
    <button class="alugar-btn" routerLink="/veiculos"><a></a>Alugue agora</button>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section">
          <h3>Sobre Nós</h3>
          <p>Somos uma empresa dedicada a fornecer<br> soluções de aluguel de <br>carros de qualidade.</p>
        </div>
  
        <div class="footer-section">
          <h3>Contato</h3>
          <p>Email: teste@teste.com.br</p>
          <p>Telefone: (123) 456-7890</p>
        </div>
  
        <div class="footer-section">
          <h3>Links Úteis</h3>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/veiculos">Carros</a></li>
            <li><a routerLink="/reservas">Reservas</a></li>
          </ul>
        </div>
      </div>
  
      <div class="footer-bottom">
        <p>&copy; 2023 Aluguel de Carros. Todos os direitos reservados.</p>
      </div>
    </div>
  </footer>
</section>
