html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container >*{
  flex: 1 1 400px;
}
.example-card {
  max-width: 400px;
  margin: 5px;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
