<div class='container-fluid'>
  <div class='col-12'>
    works
    <ngb-carousel>
      <ng-template ngbSlide>
        <img
          src="assets\icons\movimentacao-de-alta-velocidade-do-mini-cupe-na-estrada-com-as-luzes-dianteiras-acesas.jpg"
          alt="Random first slide">
        <div class="carousel-caption">
          <h3>carro 1</h3>
          <p>sdfbhjsdbhsdff</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets\icons\corridas-de-automoveis-em-competicoes-esportivas.jpg" alt="Random second slide">
        <div class="carousel-caption">
          <h3>carro 2</h3>
          <p>fsfsdfdsffd</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/icons/Vector.svg" alt="Random third slide">
        <div class="carousel-caption">
          <h3>No keyboard...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/icons/Vector.svg" alt="Random fourth slide">
        <div class="carousel-caption">
          <h3>And no wrap after last slide.</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

</div>
