<div class="catalog">
  <div *ngFor="let car of cars">
    <div class="card">
      <img [src]="car.imagePath" alt="{{ car.manufacturer }} Imagem">

      <div class="card-info">
        <h2>{{ car.manufacturer }}</h2>
        <p><strong>Ano:</strong> {{ car.year }}</p>
        <p><strong>Cor:</strong> {{ car.color }}</p>
        <p><strong>Quilometragem:</strong> {{ car.mileage }}</p>
        <button class="reserve-button" (mouseover)="onMouseOver()"
        (mouseout)="onMouseOut()" (click)="reservar()">Reservar</button>
      </div>
    </div>
  </div>
</div>
