.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.form-container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: gray; /* Adicionando cor de fundo para separação visual */
  border-radius: 5px;
  box-shadow: 0px 0px 10px black; /* Adicionando sombra para o formulário */
}

.reservations-list {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: gray; /* Cor de fundo para a lista de reservas */
  border-radius: 5px;
  box-shadow: 0px 0px 10px black; /* Adicionando sombra para a lista */
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

.reservation-item {
  margin-bottom: 10px;
}

.reserved-vehicle {
  margin-bottom: 10px;
  background-color: gray;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
}
