<section class="catalog">
  <div class="button-container">
    <button class="botton-login" (click)="navegateToCreate('/clientesEdit')"
      style="margin-right: 10px; display: flex; align-items: center; justify-content: center; margin-top: 20px; color: white; margin-bottom: 10px;">
      Novo Cliente
    </button>
  </div>
  <table class="table table-hover">
    <tbody>
      <tr class="table-header">
        <th>
          Nome
        </th>
        <th>
          Matricula
        </th>
        <th>
          Idade
        </th>
        <th>
          Aniversario
        </th>
        <th>
          Data de Criação do Usuario
        </th>
        <th>
          Ações
        </th>
      </tr>
      <tr *ngFor="let item of clientList">
        <td>
          {{item.nome}}
        </td>
        <td>
          {{item.Matricula}}
        </td>
        <td>
          {{item.Idade}}
        </td>
        <td>
          {{item.Aniversario | date: 'dd/MM/yyyy'}}
        </td>
        <td>
          {{item.Data_Criacao_usuario | date: 'dd/MM/yyyy'}}
        </td>
        <td>
          <img src="../../../assets/icons/edit-button-svgrepo-com.svg" style="margin-right: 50px;"
            (click)="navegateToEdit('/clientesEdit', item)">
          <img src="../../../assets/icons/delete-1487-svgrepo-com.svg" (click)="DeleteClient(item.id)">
        </td>
      </tr>
    </tbody>
  </table>
</section>
